*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
body{
  font-family: 'Open Sans', sans-serif;
}
header{
  width: 100%;
  background: #000;
  display: flex;
}
.header_logo{
  color: #fff;
  font-weight: 800;
  font-size: 24px;
  cursor: pointer;
  margin-top: 56px;
  margin-left: 10%;
}
nav{
  margin-top: 56px;
  margin-left: 40%;
}
.topnav a{
  color: #fff;
  text-align: center;
  padding: 12px 16px;
  font-weight: bold;
}
.topnav a:hover{
  border-bottom: 3px solid #fcac45;
}
.topnav .icon{
  display: none;
}

.wrapper{
  width: 90%;
  margin: auto;
}
main .main_about{
  display: flex;
  padding: 100px 0 100px 0;
}
.about_right{
  margin-left: 150px;
}
.about_right h1{
  display: inline-block;
  border-bottom: 3px solid #fcac45;
}
.about_right p{
  color: #6c6c6c;
}

.languages{
  background: #000;
  text-align: center;
  padding: 100px 0 165px 0;
  color: #fff
}
.languages h1{
  font-size: 44px;
  padding-bottom: 30px;
}
.line{
  width: 100px;
  height: 3px;
  background: #fcac45;
  position: relative;
  left: 47%;
  margin-bottom: 105px;
}
.photo{
  background: ;
  width: 325px;
  height: 125px;
  border-radius: 50%;
  margin: 20px auto ;
}
.lang_info{
  display: flex;
}
.skills{
  text-align: center;
  padding: 100px 0 165px 0;
  color: #fff
}
.skills h1{
  color: #000;
  font-size: 44px;
  padding-bottom: 30px;
}
.line{
  width: 100px;
  height: 3px;
  background: #fcac45;
  position: relative;
  left: 46%;
  margin-bottom: 105px;
}
.name_s{
  color: #000;
}
.level_s{
  color: #000;
}
.photo_s{
  background: ;
  width: 325px;
  height: 125px;
  border-radius: 50%;
  margin: 20px auto ;
}

.skills_info{
  display: flex;
}


main .about_studie{
  display: flex;
  padding: 100px 0 100px 0;
}


@media screen and (max-width: 1136px) {
  .topnav a{
    display: none;
  }
  .topnav a.icon{
    float: right;
    margin-top: -17px;
    display: block;
    color: #fff;
    font-size: 25px;
  }
  nav{
    width: 100%;
  }
  .topnav.responsive{
    position: relative;
    top: 50px;
    left: -200px;
  }
  header .topnav.responsive{
    height: 340px;
  }
  .topnav.responsive a.icon{
    position: absolute;
    top: 50px;
    right: -200px;
  }
  .topnav.responsive a{
    float: none;
    display: block;
    text-align: left;
  }
  .main_about{
    flex-direction: column;
  }
  .about_left{
    text-align: center;
  }
  .about_right{
    text-align: center;
    margin-left: 0;
    margin-top: 10px;
  }
  .lang_info{
  flex-direction: column;
  }
  .skills_info{
  flex-direction: column;
  }
  .about_studie{
    flex-direction: column;
  }
}